.about-me {
    width: 100%;
    min-height: 600px;
    background-color: var(--secondary);
    padding-top: 70px;
}
.about-me .about-me__title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: var(--primary);
    margin-bottom: 40px;
}

.about-me .about-me__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--primary);
}

.about-me .about-me__description {
    font-size: 1.3em;
    margin-bottom: 30px;
}

.about-me .about-me__btn:hover {
    background-color: transparent;
    color: var(--terciary);
}